[submodule "Todo-SmartContract"]
	path = Todo-SmartContract
	url = https://github.com/Sakal05/ToDo-SmartContract.git
[submodule "Todo-dapp-frontend"]
	path = Todo-dapp-frontend
	url = https://github.com/Sakal05/Todo-Dapp-Frontend.git
